<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/common/button/button.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/common/counter/counter.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/common/editor/editor.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/common/empty/empty.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/common/label/label.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/common/list-heading/list-heading.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/common/menu/menu.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/common/search/search.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/common/select/select.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/common/switch/switch.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/common/sidebar/sidebar.css">
<script src="{{AssetUrlPrefix}}/js/components/common/sidebar/sidebar.js" defer></script>
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/common/dropdown/dropdown.css">
<script src="{{AssetUrlPrefix}}/js/components/common/dropdown/dropdown.js" defer></script>
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/repository/results/results.css">
<script src="{{AssetUrlPrefix}}/js/components/repository/results/results.js" defer></script>
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/pages/dashboard-lists.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/pages/organization.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/pages/profile-subpages.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/pages/pull-request.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/pages/releases.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/pages/user-profile.css">
