<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/common/button/button.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/common/list-heading/list-heading.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/common/search/search.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/common/sidebar/sidebar.css">
<script src="{{AssetUrlPrefix}}/js/components/common/sidebar/sidebar.js" defer></script>
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/common/dropdown/dropdown.css">
<script src="{{AssetUrlPrefix}}/js/components/common/dropdown/dropdown.js" defer></script>
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/repository/results/results.css">
<script src="{{AssetUrlPrefix}}/js/components/repository/results/results.js" defer></script>
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/pages/organization.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/pages/profile-subpages.css">
<link rel="stylesheet" href="{{AssetUrlPrefix}}/css/components/pages/user-profile.css">
