<a class="item" href="{{AppSubUrl}}/repo/create">
	{{svg "octicon-plus"}} {{ctx.Locale.Tr "new_repo.link"}}
</a>
{{if not .DisableMigrations}}
	<a class="item" href="{{AppSubUrl}}/repo/migrate">
		{{svg "octicon-repo-push"}} {{ctx.Locale.Tr "new_migrate.link"}}
	</a>
{{end}}
{{if .SignedUser.CanCreateOrganization}}
	<a class="item" href="{{AppSubUrl}}/org/create">
		{{svg "octicon-organization"}} {{ctx.Locale.Tr "new_org.link"}}
	</a>
{{end}}
