<div class="theme-search-field">
	<input type="search" name="q" value="{{.Value}}" placeholder="{{.Placeholder}}" aria-label="{{.Placeholder}}" maxlength="255" spellcheck="false" dir="auto">
	<button type="submit" class="theme-search-submit" aria-label="{{ctx.Locale.Tr "search.search"}}">{{svg "octicon-search" 16}}</button>
</div>
