<form class="list-header-search ui form ignore-dirty issue-list-search">
		<input type="hidden" name="state" value="{{$.State}}">
		{{if not .PageIsMilestones}}
			<input type="hidden" name="type" value="{{$.ViewType}}">
			<input type="hidden" name="labels" value="{{.SelectLabels}}">
			<input type="hidden" name="milestone" value="{{$.MilestoneID}}">
			<input type="hidden" name="project" value="{{$.ProjectID}}">
			<input type="hidden" name="assignee" value="{{$.AssigneeID}}">
			<input type="hidden" name="poster" value="{{$.PosterID}}">
			<input type="hidden" name="sort" value="{{$.SortType}}">
		{{end}}
		{{if .PageIsPullList}}
			{{template "shared/theme/search" dict "Value" .Keyword "Placeholder" (ctx.Locale.Tr "search.pull_kind") "Tooltip" (ctx.Locale.Tr "explore.go_to")}}
		{{else if .PageIsMilestones}}
			{{template "shared/theme/search" dict "Value" .Keyword "Placeholder" (ctx.Locale.Tr "search.milestone_kind") "Tooltip" (ctx.Locale.Tr "explore.go_to")}}
		{{else}}
			{{template "shared/theme/search" dict "Value" .Keyword "Placeholder" (ctx.Locale.Tr "search.issue_kind") "Tooltip" (ctx.Locale.Tr "explore.go_to")}}
		{{end}}
	{{if not .PageIsMilestones}}
		{{template "shared/search/issue/syntax"}}
	{{end}}
</form>
