{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository view issue pull github-conversation{{if eq .Issue.PosterID .SignedUserID}} own-conversation{{end}}{{if not .Issue.IsPull}} github-issue-conversation{{else}} github-pull-review{{end}}">
	<div class="ui container">
		{{template "repo/issue/view_title" .}}
		{{if .Issue.IsPull}}
			{{template "repo/pulls/tab_menu" .}}
		{{end}}
		{{template "repo/issue/view_content" .}}
	</div>
</div>
<template id="conversation-upload-icon">{{svg "octicon-paperclip" 16}}</template>
<script src="{{AssetUrlPrefix}}/js/issue-conversation.js" defer></script>
{{if .Issue.IsPull}}<script src="{{AssetUrlPrefix}}/js/pull-review.js" defer></script>{{end}}
{{template "base/footer" .}}
