{{if .IsArchived.ValueOrZeroValue}}{{ctx.Locale.Tr "filter.is_archived"}}{{else if .IsFork.ValueOrZeroValue}}{{ctx.Locale.Tr "filter.is_fork"}}{{else if .IsMirror.ValueOrZeroValue}}{{ctx.Locale.Tr "filter.is_mirror"}}{{else if .IsTemplate.ValueOrZeroValue}}{{ctx.Locale.Tr "filter.is_template"}}{{else if .IsPrivate.ValueOrZeroValue}}{{ctx.Locale.Tr "filter.private"}}{{else if not (.IsPrivate.ValueOrDefault true)}}{{ctx.Locale.Tr "filter.public"}}{{else if and (not (.IsFork.ValueOrDefault true)) (not (.IsMirror.ValueOrDefault true))}}{{ctx.Locale.Tr "sources"}}{{else}}{{ctx.Locale.Tr "all"}}{{end}}
