<section class="profile-projects">
<h2 class="profile-subpage-title">{{ctx.Locale.Tr "user.projects"}}</h2>
{{if and $.CanWriteProjects (not $.Repository.IsArchived)}}
	<div class="tw-flex tw-justify-between tw-mb-4 tw-gap-2">
		<div class="profile-project-state">
			<a class="item{{if not .IsShowClosed}} active{{end}}" href="?state=open&q={{$.Keyword}}">
				{{svg "octicon-project-symlink" 16}}
				{{ctx.Locale.PrettyNumber .OpenCount}}&nbsp;{{ctx.Locale.Tr "repo.issues.open_title"}}
			</a>
			<a class="item{{if .IsShowClosed}} active{{end}}" href="?state=closed&q={{$.Keyword}}">
				{{svg "octicon-check" 16}}
				{{ctx.Locale.PrettyNumber .ClosedCount}}&nbsp;{{ctx.Locale.Tr "repo.issues.closed_title"}}
			</a>
		</div>
		<a class="primary button" href="{{$.Link}}/new">{{ctx.Locale.Tr "repo.projects.new"}}</a>
	</div>
{{end}}

{{template "base/alert" .}}

<div class="list-header">
	<!-- Search -->
	<form class="list-header-search ui form ignore-dirty profile-project-search">
		<input type="hidden" name="state" value="{{$.State}}">
		<input type="hidden" name="sort" value="{{.SortType}}">
		{{template "shared/search/input" dict "Value" .Keyword "Placeholder" (ctx.Locale.Tr "search.project_kind")}}
	</form>
	<!-- Sort -->
	<div class="ui secondary menu tw-mt-0">
		<div class="list-header-sort ui dropdown type jump item">
		<span class="text">
			{{ctx.Locale.Tr "repo.issues.filter_sort"}}
		</span>
		{{svg "octicon-triangle-down" 14 "dropdown icon"}}
		<div class="menu">
			<a class="{{if eq .SortType "oldest"}}active {{end}}item" href="?q={{$.Keyword}}&sort=oldest&state={{$.State}}">{{ctx.Locale.Tr "repo.issues.filter_sort.oldest"}}</a>
			<a class="{{if eq .SortType "recentupdate"}}active {{end}}item" href="?q={{$.Keyword}}&sort=recentupdate&state={{$.State}}">{{ctx.Locale.Tr "repo.issues.filter_sort.recentupdate"}}</a>
			<a class="{{if eq .SortType "leastupdate"}}active {{end}}item" href="?q={{$.Keyword}}&sort=leastupdate&state={{$.State}}">{{ctx.Locale.Tr "repo.issues.filter_sort.leastupdate"}}</a>
		</div>
	</div>
	</div>
</div>

<ul class="profile-project-list">
	{{range .Projects}}
		<li class="profile-project{{if .IsClosed}} is-closed{{end}}">
			<div class="milestone-header">
				<h3>
					{{svg .IconName 16}}
					<a class="muted tw-break-anywhere" href="{{.Link ctx}}">{{.Title}}</a>
				</h3>
			</div>
			<div class="milestone-toolbar">
				<div class="group">
					<div class="flex-text-block">
						{{svg "octicon-issue-opened" 14}}
						{{ctx.Locale.PrettyNumber (index $.NumOpenIssuesInProject .ID)}}&nbsp;{{ctx.Locale.Tr "repo.issues.open_title"}}
					</div>
					<div class="flex-text-block">
						{{svg "octicon-check" 14}}
						{{ctx.Locale.PrettyNumber (index $.NumClosedIssuesInProject .ID)}}&nbsp;{{ctx.Locale.Tr "repo.issues.closed_title"}}
					</div>
				</div>
				{{if and $.CanWriteProjects (not $.Repository.IsArchived)}}
				<div class="group">
					<a class="flex-text-inline" href="{{.Link ctx}}/edit">{{svg "octicon-pencil" 14}}{{ctx.Locale.Tr "repo.issues.label_edit"}}</a>
					{{if .IsClosed}}
						<a class="link-action flex-text-inline" href data-url="{{.Link ctx}}/open">{{svg "octicon-check" 14}}{{ctx.Locale.Tr "repo.projects.open"}}</a>
					{{else}}
						<a class="link-action flex-text-inline" href data-url="{{.Link ctx}}/close">{{svg "octicon-skip" 14}}{{ctx.Locale.Tr "repo.projects.close"}}</a>
					{{end}}
					<a class="delete-button flex-text-inline" href="#" data-url="{{.Link ctx}}/delete" data-modal-id="delete-project">{{svg "octicon-trash" 14}}{{ctx.Locale.Tr "repo.issues.label_delete"}}</a>
				</div>
				{{end}}
			</div>
			{{if .Description}}
			<div class="content markup">
				{{.RenderedContent}}
			</div>
			{{end}}
		</li>
	{{else}}
		<li>{{template "user/profile_empty" dict "Icon" "octicon-project" "Title" (ctx.Locale.Tr "search.no_results")}}</li>
	{{end}}

</ul>
{{template "base/paginate" .}}

{{if and $.CanWriteProjects (not $.Repository.IsArchived)}}
<div class="ui g-modal-confirm delete modal" id="delete-project">
	<div class="header">
		{{svg "octicon-trash"}}
		{{ctx.Locale.Tr "repo.projects.deletion"}}
	</div>
	<div class="content">
		<p>{{ctx.Locale.Tr "repo.projects.deletion_desc"}}</p>
	</div>
	{{template "base/modal_actions_confirm" .}}
</div>
{{end}}

</section>
